
body {
    background-color: rgb(148, 172, 45);
};

#wrapper {
    background-color: khaki;
}
/*body {   ask about this part It's either the wraper or orange
    text-align: center;
} */

.candidate_basics {
    display: flex;
    background-color: orange;
    display: -webkit-flex;
    width: 100%;
    flex-wrap: wrap; 
    justify-content: center;
    padding: .1em;
    font-family: "Arial", "Helvetica";
};

.committees {   /*same wierd thing needs seperate to work */
    background-color: antiquewhite;
}

.committees {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    background-color: antiquewhite;
}

h1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

h2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

img {
    justify-content: center;
}








/*.navigation {
    padding: 5px;
    background-color: black;
    margin: 0;
}

.list {
    line-height: 1.1em;
}

.list--navigation {
    list-style-type: none;
    line-height: normal;
}

.listitem--navigation {
    display: inline;
    margin: 0 20px;
}
*/